*{
    box-sizing: border-box;
}

.container{
    border: solid gray;
    border-radius: 2px;
    padding: 20px 20px 20px;
}

.hidden{
    display: none;
}

#map { width: 800px; height: 500px; padding: 20px 20px 40px;}

#results {
    background-color: gainsboro;
    display:flex;
}

.description{
    font-size: 15px;
    font-weight: 3;
    text-align: center;
}

.h3{
    text-align: center;
}

#results-display{
    width:100%;
    height:auto;

}